button {
    border: none;
    background-color: #fff;
    line-height: 1.3em;
    box-shadow: 0 0 8px 1px #666;
    outline: none;
    height: 40px;
    width: 80px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 2px #555;
    transform: scale(1.05);
}

button:active {
    background-color: #eee;
}
